@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Poppins", sans-serif;
}

span {
  font-family: inherit;
  font-weight: inherit;
}

/* Gölge animasyonu */
.yellowShadow {
  @apply bg-white text-slate-950 rounded-full px-5 py-2 relative transition-all duration-300 ease-in-out;
  box-shadow: 3px 2px 0 0 #FEF08A;
}

.yellowShadow:hover {
  transform: translate(-2px, -2px); /* Hover durumunda buton hareket eder */
  box-shadow: 6px 6px 0 0 #FEF08A; /* Gölge büyür */
}

.levelButton {
  @apply bg-orange-500 hover:bg-orange-700 text-white font-bold py-4 px-8 rounded-lg transition-all duration-300 ease-in-out w-full;
  box-shadow: 2px 2px 5px rgba(255, 184, 76, 0.6);
}

.levelButton:hover {
  box-shadow: 4px 4px 10px rgba(255, 165, 0, 0.8);
}
